$darkgrey : #100F0F;
$darkgreen : #0F3D3E;
$lightyellow : #E2DCC8;
$lightgrey : #F1F1F1;

.app {
    min-height: 100vh;
    background-color: $darkgrey;
    color: $lightgrey;
    display: flex;
    justify-content: center;

    .container {
        width: 80vw;

        .link {
            text-decoration: none;
            color: inherit;
        }

        .auth {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh;

            h1 {
                font-size: 1.5rem;
                color: $lightgrey;
                margin-bottom: 3rem;
            }

            form {
                display: flex;
                flex-direction: column;
                width: 25vw;
                padding: 2rem;
                background-color: $darkgreen;
                border-radius: 0.5rem;
                gap: 1.5rem;

                input {
                    padding: 1rem;
                    border: transparent;
                    background-color: transparent;
                    border-bottom: 1px solid $lightyellow;

                    placeholder {
                        color: $lightyellow;
                    }
                }

                button {
                    padding: 1rem;
                    border: transparent;
                    color: $darkgrey;
                    background-color: $lightyellow;
                    cursor: pointer;

                    &:hover {
                        background-color: $lightgrey;
                    }
                }

                span {
                    font-size: 0.8rem;
                    color: $lightyellow;
                    text-align: center;
                }

                p {
                    font-size: 0.8rem;
                    color: red;
                    text-align: center;
                }

                .Link {
                    color: $lightgrey;
                }
            }
        }

        .navbar {
            .container {
                display: flex;
                justify-content: space-between;
                align-items: center;

                .links {
                    display: flex;
                    gap: 1rem;
                    align-items: center;
                }

                span {
                    cursor: pointer;
                }

                .write {
                    padding: 1rem;
                    border: transparent;
                    color: $darkgrey;
                    background-color: $lightyellow;
                    cursor: pointer;

                    &:hover {
                        background-color: $lightgrey;
                    }
                }
            }
        }

        .footer {
            margin-top: 10vh;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            font-size: 0.8rem;
            padding: 1rem;

            .description {
                display: flex;
                flex-direction: column;
                gap: 1rem;
            }
        }

        .home {
            .posts {
                margin: 3rem;
                display: flex;
                flex-direction: column;
                gap: 8rem;

                .post {
                    display: flex;

                    .img {
                        flex: 1;
                    }

                    .content {
                        flex: 2;
                    }
                }
            }
        }

        .single {
            padding-top: 3rem;
            display: flex;
            flex-direction: column;
            gap: 3rem;

            img {
                width: 100%;
                height: 50%;
                object-fit: cover;
            }

            .content {
                display: flex;
                gap: 3rem;
                flex-direction: column;

                .user {
                    display: flex;
                    align-items: center;
                    gap: 1rem;

                    img {
                        align-items: center;
                        width: 50px;
                        height: 50px;
                        border-radius: 50%;
                        object-fit: cover;
                    }

                    .info {
                        font-size: 0.8rem;
                        color: $lightgrey;

                        p {
                            font-size: 0.6rem;
                            color: $lightyellow;
                        }
                    }

                    span {
                        font-weight: bold;
                    }

                    .edit {
                        display: flex;
                        align-items: center;
                        font-size: 1rem;
                    }
                }

                h1 {
                    font-size: 2.5rem;
                    color: $lightgrey;
                }

                p {
                    font-size: 1rem;
                    color: $lightyellow;
                    text-align: justify;
                    line-height: 1.5rem;
                }

            }
        }

        .menu {
            h2 {
                padding-bottom: 1rem;
            }

            .posts {
                display: flex;
                flex-direction: row;
                gap: 1rem;
            }
        }

        .add {
            display: flex;
            gap: 4rem;

            .content {
                flex: 5;
                justify-content: center;

                input {
                    width: 80%;
                    margin: 2rem 1rem;
                    padding: 1rem;
                    border: transparent;
                    background-color: transparent;
                    border-bottom: 1px solid $lightyellow;
                    color: $lightyellow;
                }
            }

            .menu {
                flex: 2;

                .file {
                    cursor: pointer;
                    text-decoration: underline;

                    &:hover {
                        color: $lightgrey;
                    }
                }

                .item {
                    div {
                        display: flex;
                        gap: 0.5rem;
                    }

                    display: flex;
                    flex-direction: column;
                    gap: 0.5rem;

                    h1 {
                        margin: 1rem 2rem 0 2rem;
                    }

                    input[type="radio"] {
                        -webkit-appearance: none;
                        appearance: none;
                        background-color: transparent;
                        margin: 0;

                        font: inherit;
                        color: $lightgrey;
                        width: 1.15em;
                        height: 1.15em;
                        border: 0.15em solid $lightgrey;
                        border-radius: 50%;
                        transform: translateY(-0.075em);

                        display: grid;
                        place-content: center;
                    }

                    input[type="radio"]::before {
                        content: "";
                        width: 0.65em;
                        height: 0.65em;
                        border-radius: 50%;
                        transform: scale(0);
                        transition: 120ms transform ease-in-out;
                        box-shadow: inset 1em 1em var($lightgrey);
                        background-color: $lightgrey;
                    }

                    input[type="radio"]:checked::before {
                        transform: scale(1);
                    }

                    input[type="radio"]:focus {
                        outline: max(2px, 0.15em) solid $lightgrey;
                        outline-offset: max(2px, 0.15em);
                    }
                }

                button {
                    margin: 0.5rem;
                    padding: 0.5rem;
                    border: transparent;
                    color: $darkgrey;
                    background-color: $lightyellow;
                    cursor: pointer;

                    &:hover {
                        background-color: $lightgrey;
                    }
                }
            }
        }

    }
}